
h3[data-v-c226fde6] {
  margin: 40px 0 0;
}
ul[data-v-c226fde6] {
  list-style-type: none;
  padding: 0;
}
li[data-v-c226fde6] {
  display: inline-block;
  margin: 0 10px;
}
a[data-v-c226fde6] {
  color: #42b983;
}


h3[data-v-cf6573c0] {
  margin: 40px 0 0;
}
ul[data-v-cf6573c0] {
  list-style-type: none;
  padding: 0;
}
li[data-v-cf6573c0] {
  display: inline-block;
  margin: 0 10px;
}
a[data-v-cf6573c0] {
  color: #42b983;
}

